<div class = header_container>
  <h1> Stupid Coaching</h1>
  <p>Ask your coach anything: </p>
</div>
<div class = input_container>
  <form action="/answer" data-turbo="false">
    <input type="text" name="input">
    <input id = btn_submit type="submit" value="Ask!">
  </form>
</div>
